.container_content_stock {
  display : flex ;
  flex-wrap: wrap ;
  justify-content: center;
  padding-top: 100px;
}
.content_element_stock {
  width: 33.33% ;
  padding: 10px;
  text-align: center;
  cursor : pointer;
}
@media screen and (max-width:500px) {
  .content_element_stock {
    width: 100% ;
    padding: 20px ;
  }
}
